---
layout: layout.liquid
title: Planetary Playing Cards
---

<h1> Planetary Playing Cards </h1> 
<main> 
    <div class = "mod sun"> 
        <div class ="circle big"></div> 
        <div class = "title big"> Sun </div>
        <div class = "AU big"> Type G2V </div> </div>
    <div class = "mod merc"> 
        <div class ="circle"></div> 
        <div class = "title"> Mercury </div>
        <div class = "AU"> 0.39</div> </div>
    <div class = "mod venus"> 
        <div class ="circle"></div> 
        <div class = "title"> Venus </div>
        <div class = "AU"> 0.72 </div> </div>
    <div class = "mod earth"> 
        <div class ="circle"></div> 
        <div class = "title"> Earth </div>
        <div class = "AU"> 1.00 </div> </div>
    <div class = "mod mars">
        <div class ="circle"></div> 
        <div class = "title"> Mars </div>
        <div class = "AU"> 1.52 </div></div>
    <div class = "mod jupiter"> 
        <div class ="circle"></div> 
        <div class = "title"> Jupiter </div>
        <div class = "AU"> 5.20 </div></div>
    <div class = "mod sat"> 
        <div class ="circle"></div> 
        <div class = "title"> Saturn </div>
        <div class = "AU"> 9.54  </div></div>
    <div class = "mod uran">
        <div class ="circle"></div> 
        <div class = "title"> Uranus </div>
        <div class = "AU"> 19.22 </div></div>
    <div class = "mod nep"> 
        <div class ="circle"></div> 
        <div class = "title"> Venus </div>
        <div class = "AU"> 30.06 </div></div>
</main>