:root{
    --background-color: #30323a; 
    --title-color: white;
    --baseline-grid: 8px;
}

body {
    font-family: Helvetica, sans-serif;
    color: vars(--background-color);
    background: #30323a;
    padding: 0 40px;
    text-align: center;
}

h1 {
    color: var(--title-color);
    text-align: left;
    padding-top: 60px;
}

main {
    display: grid; 
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 200px;
    gap: 20px;
}

.mod {
    background: #ccc;
    border-radius: 10px;
    padding: 20px;
}


.mod.sun{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.circle.big{
    width: 225px;
    height: 225px;
    background-color: white;
    border-radius: 50%;
    margin: 10px auto;
}

.title.big{
    margin-top: 50px;
    font-size: 2em;
    font-weight: bold;
    color: vars(--background-colors);
  }

  .AU.big{
    margin-top: 10px;
  }

  .circle{
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    margin: 10px auto;
}

.title{
    margin-top: 10px;
    font-size: 1em;
    font-weight: bold;
    color: vars(--background-colors);
}
.AU{
    margin-top: 10px;
  }